.container {
  position: relative;
  /*width: 100vw;
  height: calc(767/1910)*100vw;
  */
  /*height: 767px;
  width: 1910px;
  */
  height: 100%;
  width: 100%;
  /*background-color: lightblue;*/
}
/*@media (min-aspect-ratio:1910/767) {  failed attempt to keep AR static
    .container{
        height: 100vh;
        width: calc((1910/767)*100vh);
    }
}
*/
.container img{
  width: 100%; /*auto;*/
  height: auto;  /*100%;*/
}
button { cursor:pointer; }
.btn{
  position: absolute;
  height:10%; width:2%;
  background-color: orange;
  border-radius: 5px;
  opacity: 0.5;
}
.txtBox{
  position: absolute;
  /*height: 55px;  width: 70px; */
  height: 10%; width:5.4%;
  line-height: 100%;
  font-size: .8vw;
  font-family: helvetica;
  resize: none;
  border-style: outset;
/*  border-width: 3px; */
  border-width: 100%;
  /*width: 100px;
  overflow: auto;*/
  /*background-color: #ddd;  /*for grey bg on txtboxes*/
}
.toggle{
  position: absolute;
/*  top: 750px; left: 10px; */
  top: 0%; left: 95%;
  height: 35px;  width: 70px;
  background-color:#ddd;
  border-radius: 5px;
  color: black;
  transition: 0.3s;
}
.toggle:hover{
  background-color: yellow;
  color: black;
}
#bay1{
  top: 44.7%; left:6.4%;
}
#bay2{
  top: 44.7%; left:15%;
}
#bay3{
  top: 44.7%; left:23.6%;
}
#bay4{
  top: 44.7%; left:32.2%;
}
#bay5{
  top: 44.7%; left:59.35%;
}
#bay6{
  top: 44.7%; left:67.95%;
}
#bay7{
  top: 44.7%; left:76.55%;
}
#bay8{
  top: 44.7%; left:85.15%;
}
#bay9{
  height: 5.1%; width: 4.5%;
  top: 4.2%; left:9.35%;
}
#bay10{
  height: 5.1%; width: 4.5%;
  top: 4.2%; left:17.2%;
}
#bay11{
  top: 14%; left:37.75%;
}
#bay12{
  height: 5.1%; width:4.5%;
  top: 43.5%; left:47.2%;
}
#bay1_txt{
  top: 44.7%; left:8.4%;
}
#bay2_txt{
  top: 44.7%; left:17%;
}
#bay3_txt{
  top: 44.7%; left:25.6%;
}
#bay4_txt{
  top: 44.7%; left:34.2%;
}
#bay5_txt{
  top: 44.7%; left:61.35%;
}
#bay6_txt{
  top: 44.7%; left:69.95%;
}
#bay7_txt{
  top: 44.7%; left:78.55%;
}
#bay8_txt{
  top: 44.7%; left:87.15%;
}
#bay9_txt{
  top: 9.1%; left: 9.35%
}
#bay10_txt{
  top: 9.1%; left:17.2%;
}
#bay11_txt{
  top: 14%; left:39.75%;

}
#bay12_txt{
  top: 17.2%; left:51.75%;
  display: none;  /*no data for tiebreaker */
}
#recentSysCmds{
  position: absolute;
  top: 1%; left: 60%;
  height: 16%; width:30%;
  line-height: 100%;
  font-size: .8vw;
  font-family: helvetica;
  resize: none;
  border-width: 100%;
}
#northCmds{
  border-style: solid;
  border-right-style: none;
  position: absolute;
  top: 0%; left: 0%;
  width:50%;
}
#southCmds{
  border-style: solid;
  border-left-style: none;
  position: absolute;
  top: 0%; left: 50%;
  width:50%;
}
